
#root {
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgb(27, 157, 207);
}

.movieContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;

}

.movieWrapper {
  text-align: center; 
  flex: 1 1 calc(25% - 32px);
  box-sizing: border-box;
}

.movie img {
  max-width: 100%;
  height: auto;
  border-radius: 4px; 
}

.header {
  padding: 60px;
  text-align: center;
  color: white;
  font-size: 30px;
  /* border: 2px solid black; */
  height: 160px;

}

.ghibliHeader {
  height: 500px;
  width: 100vh;
  transform: scale(0.8) translate(0, -50%);
  /* border: 2px solid black; */
}